<!-- Featured News Slider Start -->
<div class="container-fluid pt-5 mb-3">
    <div class="container">
        <div class="section-title">
            <h4 class="m-0 text-uppercase font-weight-bold"><%= @highlighted_articles_category_name %></h4>
        </div>
        <div class="owl-carousel news-carousel carousel-item-<%= @highlighted_articles_count %> position-relative">
            <% @highlighted_articles.each do |article| %>
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <% if !article.main_image_attachment.nil? %>
                        <%= image_tag article.main_image, class: "img-fluid h-100", style: "object-fit: cover;" %>
                    <% end %>
                    <div class="overlay">
                        <div class="mb-2">
                            <% article.categories.each do |category| %>
                                <%= link_to category.name, category_path(category), class: "badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-1" %>
                            <% end %>
                            <br>
                            <a class="text-white" href=""><small>
                                <%= article.created_at.strftime("%d/%m/%Y") %>
                            </small></a>
                        </div>
                        
                            <%= link_to (truncate(article.title, length: 120)), article_path(article), class: "h6 m-0 text-white text-uppercase font-weight-semi-bold", data: { turbo: false } %>
                        
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
<!-- Featured News Slider End -->