<!-- Main News Slider Start -->
<div class="container-fluid">
    <div class="row">
        <!--<div class="col-lg-12 px-0">-->
        <div class="col-lg-7 px-0">
            <div class="owl-carousel main-carousel position-relative">

                <% @slider_articles.each do |slider_article| %>
                    <div class="position-relative overflow-hidden" style="height: 500px; border: solid 5px; border-color: white;">
                        <% if !slider_article.main_image_attachment.nil? %>
                            <%= image_tag slider_article.main_image, class: "img-fluid h-100", style: "object-fit: cover;" %>
                        <% end %>
                        <div class="overlay">
                            <div class="mb-2">
                                    <%= link_to slider_article.category.name, category_path(slider_article.category), class: "badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" %>
                                <a class="text-white" href="#">
                                    <%= slider_article.created_at.strftime("%d %b, %Y") %>
                                </a>
                            </div>
                                <%= link_to slider_article.title, article_path(slider_article), class: "h2 m-0 text-white text-uppercase font-weight-bold" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        
        <div class="col-lg-5 px-0">
            <div class="row mx-0">
                <% @articles_for_top.each do |subarticle| %>
                     <div class="col-md-6 px-0">
                         <div class="position-relative overflow-hidden" style="height: 250px; border: solid 5px; border-color: white;">
                            <% if !subarticle.main_image_attachment.nil? %>
                                <%= image_tag subarticle.main_image, class: "img-fluid w-100 h-100", style: "object-fit: cover;" %>
                            <% end %>
                             <div class="overlay">
                                 <div class="mb-2">
                                     <%= link_to subarticle.category.name, category_path(subarticle.category), class: "badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" %>
                                             
                                     <br>
                                     <a class="text-white" href=""><small><%= subarticle.created_at.strftime("%d %b, %Y") %></small></a>
                                 </div>
                                 <%= link_to subarticle.title, article_path(subarticle), class: "h6 m-0 text-white text-uppercase font-weight-semi-bold" %>
                             </div>
                         </div>
                     </div>   
                <% end %>
            </div>
        </div>
    </div>
</div>

<!-- Main News Slider End -->