<%= render "user_content/partials/slider" %>

<%= render "user_content/partials/breaking_news" %> 

<%= render "user_content/partials/highlighted_news" %> 

<%= render "user_content/partials/podcasts" %>

<%= render "user_content/partials/multimedia" %>
            
<BR>

<%= render "user_content/partials/news_categories" %>

</div>

            
            <div class="col-lg-4">
                
                <%= render "user_content/partials/social_media" %>

                <%= render "user_content/partials/people_news" %>

                


                <!-- Ads Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Publicidad</h4>
                    </div>
                    <div class="bg-white text-center border border-top-0 p-3">
                        <a href=""><%= image_tag @lateral_ad.main_image, class: "img-fluid w-100" if @lateral_ad.main_image.attached? %></a>
                    </div>
                </div>
                <!-- Ads End -->

                <%= render "user_content/partials/trending" %>


                

                <!-- Newsletter Start 
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Boletín de noticas</h4>
                    </div>
                    <div class="bg-white text-center border border-top-0 p-3">
                        <p>Aliqu justo et labore at eirmod justo sea erat diam dolor diam vero kasd</p>
                        <div class="input-group mb-2" style="width: 100%;">
                            <input type="text" class="form-control form-control-lg" placeholder="Ingresa tu correo">
                            <div class="input-group-append">
                                <button class="btn btn-primary font-weight-bold px-3">Suscribirme</button>
                            </div>
                        </div>
                        <small>Lorem ipsum dolor sit amet elit</small>
                    </div>
                </div>
                Newsletter End -->

                <!-- Tags Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Etiquetas</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <div class="d-flex flex-wrap m-n1">
                            <% @categories.each do |category| %>
                                <%= link_to category.name, category_path(category), class: "btn btn-sm btn-outline-secondary m-1" %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <!-- Tags End -->
            </div>
        </div>
    </div>
</div>
<!-- News With Sidebar End -->





