<%= render "slider" %>

<%= render "breaking_news" %> 

<%= render "highlighted_news" %> 

<div class="container-fluid bg-dark py-3 mb-3">
    <div class="container">
        <div class="row align-items-center bg-dark">
            <div class="col bg-primary text-dark text-center font-weight-medium py-2" style="width: 170px;">OBSERVA NUESTROS PODCASTS</div><br><br><br>
            <div class="col-12 text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/lLH0uLnHLmU?si=5QGwkowX0R8aCh-1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<%= render "news_summary" %> 

<%= render "multimedia" %>
            
<BR>

<%= render "news_categories" %>

</div>


            
            <div class="col-lg-4">
                
                <%= render "social_media" %>

                <%= render "people_news" %>

                


                <!-- Ads Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Publicidad</h4>
                    </div>
                    <div class="bg-white text-center border border-top-0 p-3">
                        <a href=""><%= image_tag @ad.main_image, class: "img-fluid w-100" if @ad.main_image.attached? %></a>
                    </div>
                </div>
                <!-- Ads End -->

                <%= render "trending" %>


                

                <!-- Newsletter Start 
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Boletín de noticas</h4>
                    </div>
                    <div class="bg-white text-center border border-top-0 p-3">
                        <p>Aliqu justo et labore at eirmod justo sea erat diam dolor diam vero kasd</p>
                        <div class="input-group mb-2" style="width: 100%;">
                            <input type="text" class="form-control form-control-lg" placeholder="Ingresa tu correo">
                            <div class="input-group-append">
                                <button class="btn btn-primary font-weight-bold px-3">Suscribirme</button>
                            </div>
                        </div>
                        <small>Lorem ipsum dolor sit amet elit</small>
                    </div>
                </div>
                Newsletter End -->

                <!-- Tags Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Etiquetas</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <div class="d-flex flex-wrap m-n1">
                            <% @categories.each do |category| %>
                                <%= link_to category.name, category_path(category), class: "btn btn-sm btn-outline-secondary m-1" %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <!-- Tags End -->
            </div>
        </div>
    </div>
</div>
<!-- News With Sidebar End -->





