<%= render "user_content/partials/slider" %>

<%= render "user_content/partials/breaking_news" %> 

<%= render "user_content/partials/highlighted_news" %> 

<%= render "user_content/partials/podcasts" %>

<%= render "user_content/partials/multimedia" %>
            
<BR>

<!-- Ads Start -->
    <div class="mb-3">
        <div class="section-title mb-0">
            <h4 class="m-0 text-uppercase font-weight-bold">Publicidad</h4>
        </div>
        <div class="bg-white text-center border border-top-0 p-3">
            <a href=""><%= image_tag @bottom_ad.main_image, class: "img-fluid w-100" if @bottom_ad.main_image.attached? %></a>
        </div>
    </div>
<!-- Ads End -->

<%= render "user_content/partials/news_categories" %>

</div>

            
<div class="col-lg-4">
    
    <%= render "user_content/partials/recent" %>

    <%= render "user_content/partials/social_media" %>

    <%= render "user_content/partials/people_news" %>

    <!-- Ads Start -->
    <div class="mb-3">
        <div class="section-title mb-0">
            <h4 class="m-0 text-uppercase font-weight-bold">Publicidad</h4>
        </div>
        <div class="bg-white text-center border border-top-0 p-3">
            <a href=""><%= image_tag @lateral_ad.main_image, class: "img-fluid w-100" if @lateral_ad.main_image.attached? %></a>
        </div>
    </div>
    <!-- Ads End -->

    <%= render "user_content/partials/trending" %>


    <!-- Tags Start -->
    <div class="mb-3">
        <div class="section-title mb-0">
            <h4 class="m-0 text-uppercase font-weight-bold">Etiquetas</h4>
        </div>
        <div class="bg-white border border-top-0 p-3">
            <div class="d-flex flex-wrap m-n1">
                <% @categories.each do |category| %>
                    <%= link_to category.name, category_path(category), class: "btn btn-sm btn-outline-secondary m-1", data: { turbo: false } %>
                <% end %>
            </div>
        </div>
    </div>
    <!-- Tags End -->
</div>

      
        </div>
    </div>
</div>
<!-- News With Sidebar End -->

<%= render "user_content/partials/news_categories_triple" %>



