<%= render "slider" %>

<!-- Breaking News Start -->
<div class="container-fluid bg-dark py-3 mb-3">
    <div class="container">
        <div class="row align-items-center bg-dark">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <div class="bg-primary text-dark text-center font-weight-medium py-2" style="width: 170px;">LO ÚLTIMO</div>
                    <div class="owl-carousel tranding-carousel position-relative d-inline-flex align-items-center ml-3"
                        style="width: calc(100% - 170px); padding-right: 90px;">
                        <div class="text-truncate"><a class="text-white text-uppercase font-weight-semi-bold" href="#"><%= @latest_news_pill.content.to_plain_text %></a></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breaking News End -->


<!-- Featured News Slider Start -->
<div class="container-fluid pt-5 mb-3">
    <div class="container">
        <div class="section-title">
            <h4 class="m-0 text-uppercase font-weight-bold">Noticias destacadas</h4>
        </div>
        <div class="owl-carousel news-carousel carousel-item-<%= @number_of_highlighted_articles %> position-relative">
            <% @highlithed_articles.each do |article| %>
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <%= image_tag article.main_image, class: "img-fluid h-100", style: "object-fit: cover;" %>
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                href=""><%= article.category.name %></a><br>
                            <a class="text-white" href=""><small>
                                <%= article.created_at.strftime("%d %b, %Y") %>
                            </small></a>
                        </div>
                        
                            <%= link_to (truncate(article.title, length: 120)), article_path(article), class: "h6 m-0 text-white text-uppercase font-weight-semi-bold" %>
                        
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
<!-- Featured News Slider End -->


<!-- News With Sidebar Start -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h4 class="m-0 text-uppercase font-weight-bold">RESUMEN DE NOTICIAS</h4>
                        </div>
                    </div>
                    <% @remaining_articles.each do |article| %>
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <%= image_tag article.main_image, class: "img-fluid w-100" %>
                                <div class="bg-white border border-top-0 p-4">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href=""><%= article.category.name %></a>
                                        <a class="text-body" href=""><small>
                                            <%= article.created_at.strftime("%d %b, %Y") %>
                                                
                                            </small></a>
                                    </div>
                                    <%= link_to article.title, article_path(article), class: "h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" %>
                                    <p class="m-0">
                                        <%= truncate(article.content.to_plain_text, length: 120) %>
                                    </p>
                                </div>
                                <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle mr-2" src="<%= asset_path('user.jpg') %>" width="25" height="25" alt="">

                                        <small><%= article.author %></small>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <small class="ml-3"><i class="far fa-eye mr-2"></i><%= article.visits %></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    
                    
                    <div class="col-lg-12 mb-3">
                        <a href="#">
                            <%= image_tag @ad.main_image, class: "img-fluid w-100" if @ad.main_image.attached? %>
                        </a>
                    </div>
                </div>
            



<!-- Featured News Slider Start -->
<div class="container-fluidA pt-5A mb-3A">
    <div class="containerA">
        <div class="section-title">
            <h4 class="m-0 text-uppercase font-weight-bold">MULTIMEDIA</h4>
        </div>
        <div class="owl-carousel news-carousel carousel-item-<%= @number_of_multimedia_articles %> position-relative">
            <% @multimedia_articles.each do |article| %>
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <%= image_tag article.main_image, class: "img-fluid h-100", style: "object-fit: cover;" %>
                    <div class="overlay">
                        <div class="mb-2">
                            <%= link_to article.category.name, category_path(article.category), class: "badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" %>
                            <a class="text-white" href=""><small>
                            <%= article.created_at.strftime("%d %b, %Y") %> 
                            </small></a>
                        </div>
                        
                        <%= link_to article.title, article_path(article), class: "h6 m-0 text-white text-uppercase font-weight-semi-bold" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
<!-- Featured News Slider End -->


<BR>
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h4 class="m-0 text-uppercase font-weight-bold">NOTICIAS EN INGLÉS</h4>
                            <a class="text-secondary font-weight-medium text-decoration-none" href="">Ver todas</a>
                        </div>
                    </div>
                    <% @english_articles.each do |article| %>
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <%= image_tag article.main_image, class: "img-fluid w-100" %>
                                <div class="bg-white border border-top-0 p-4">
                                    <div class="mb-2">
                                        <a class=""
                                            href=""><%= link_to article.category.name, category_path(article.category), class: "badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" %>
                                        <a class="text-body" href=""><small>
                                            <%= article.created_at.strftime("%d %b, %Y") %>
                                        </small></a>
                                    </div>
                                    
                                    <%= link_to article.title, article_path(article), class: "h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" %>
                                    <p class="m-0">
                                        <%= truncate(article.content.to_plain_text, length: 120) %>
                                    </p>
                                </div>
                                <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle mr-2" src="<%= asset_path('user.jpg') %>" width="25" height="25" alt="">

                                        <small><%= article.author %></small>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <small class="ml-3"><i class="far fa-eye mr-2"></i><%= article.visits %></small>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    
                    
                    
                                       
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h4 class="m-0 text-uppercase font-weight-bold">NOTICIAS EN QUECHUA</h4>
                            <a class="text-secondary font-weight-medium text-decoration-none" href="">Ver todas</a>
                        </div>
                    </div>
                    <% @quechua_articles.each do |article| %>
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <%= image_tag article.main_image, class: "img-fluid w-100" %>
                                <div class="bg-white border border-top-0 p-4">
                                    <div class="mb-2">
                                        <%= link_to article.category.name, category_path(article.category), class: "badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" %>
                                        <a class="text-body" href=""><small><%= article.created_at.strftime("%d %b, %Y") %></small></a>
                                    </div>
                                    <%= link_to article.title, article_path(article), class: "h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" %>
                                    <p class="m-0"><%= truncate(article.content.to_plain_text, length: 120) %></p>
                                </div>
                                <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle mr-2" src="<%= asset_path('user.jpg') %>" width="25" height="25" alt="">

                                        <small><%= article.author %></small>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <small class="ml-3"><i class="far fa-eye mr-2"></i><%= article.visits %></small>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    <% end %>
                                      
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h4 class="m-0 text-uppercase font-weight-bold">MUNDO INTERNO</h4>
                            <a class="text-secondary font-weight-medium text-decoration-none" href="">Ver todas</a>
                        </div>
                    </div>
                    <% @intern_world_articles.each do |article| %>
                       <div class="col-lg-6">
                           <div class="position-relative mb-3">
                               <%= image_tag article.main_image, class: "img-fluid w-100" %>
                               <div class="bg-white border border-top-0 p-4">
                                   <div class="mb-2">
                                       <%= link_to article.category.name, category_path(article.category), class: "badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" %>
                                       <a class="text-body" href=""><small><%= article.created_at.strftime("%d %b, %Y") %></small></a>
                                   </div>
                                   
                                   <%= link_to article.title, article_path(article), class: "h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" %>
                                   <p class="m-0"><%= truncate(article.content.to_plain_text, length: 120) %></p>
                               </div>
                               <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                   <div class="d-flex align-items-center">
                                       <img class="rounded-circle mr-2" src="<%= asset_path('user.jpg') %>" width="25" height="25" alt="">

                                       <small><%= article.author %></small>
                                   </div>
                                   <div class="d-flex align-items-center">
                                       <small class="ml-3"><i class="far fa-eye mr-2"></i><%= article.visits %></small>
                                       
                                   </div>
                               </div>
                           </div>
                       </div> 
                    <% end %>
                    
                    
                   
                    
                                      
                </div>


            </div>


            
            <div class="col-lg-4">
                <!-- Social Follow Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Nuestras redes</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                            <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Fans</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                            <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Seguidores</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                            <i class="fab fa-linkedin-in text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Conexiones</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                            <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Seguidores</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                            <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Subscriptores</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none" style="background: #055570;">
                            <i class="fab fa-vimeo-v text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Seguidores</span>
                        </a>
                    </div>
                </div>
                <!-- Social Follow End -->


                <!-- Popular News Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">GENTE QUE HACE NOTICIA</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <% @people_articles.each do |article| %>
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                
                                <%= image_tag article.main_image, class: "img-fluid", style: "height: 110px" %>
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        
                                        <a class="text-body" href=""><small><%= article.created_at.strftime("%d %b, %Y") %></small></a>
                                    </div>
                                    <%= link_to (truncate(article.title, length: 120)), article_path(article), class: "h6 m-0 text-secondary text-uppercase font-weight-bold" %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
                <!-- Popular News End -->


                <!-- Ads Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Publicidad</h4>
                    </div>
                    <div class="bg-white text-center border border-top-0 p-3">
                        <a href=""><%= image_tag @ad.main_image, class: "img-fluid w-100" if @ad.main_image.attached? %></a>
                    </div>
                </div>
                <!-- Ads End -->

                <!-- Popular News Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">En tendencia</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <% @trendind_articles.each do |article| %>
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href=""><%= article.category.name %></a><br>
                                        <a class="text-body" href=""><small>12 dic, 2024</small></a>
                                    </div>
                                    
                                    <%= link_to article.title, article_path(article), class: "h6 m-0 text-secondary text-uppercase font-weight-bold" %>
                                </div>
                            </div>
                        <% end %>
                        
                        
                        
                        
                        
                    </div>
                </div>
                <!-- Popular News End -->

                <!-- Newsletter Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Boletín de noticas</h4>
                    </div>
                    <div class="bg-white text-center border border-top-0 p-3">
                        <p>Aliqu justo et labore at eirmod justo sea erat diam dolor diam vero kasd</p>
                        <div class="input-group mb-2" style="width: 100%;">
                            <input type="text" class="form-control form-control-lg" placeholder="Ingresa tu correo">
                            <div class="input-group-append">
                                <button class="btn btn-primary font-weight-bold px-3">Suscribirme</button>
                            </div>
                        </div>
                        <small>Lorem ipsum dolor sit amet elit</small>
                    </div>
                </div>
                <!-- Newsletter End -->

                <!-- Tags Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Etiquetas</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <div class="d-flex flex-wrap m-n1">
                            <% @categories.each do |category| %>
                                <%= link_to category.name, category_path(category), class: "btn btn-sm btn-outline-secondary m-1" %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <!-- Tags End -->
            </div>
        </div>
    </div>
</div>
<!-- News With Sidebar End -->





