<div class="container">
	<br>
	<div class="row">
		<div class="col-12 text-center">
			<h3>Accede a más información</h3>			
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<br>
	        <div class="d-flex justify-content-center">
	        	<div class="col-lg-2 text-center text-lg-right">
	                <a href="https://www.facebook.com/MartinColquePeriodista" target="_blank">
	                	<div class="responsive-img-wrapper2">
	                		<%= image_tag "page5.jpeg", class: "img-fluid" %>
	                	</div>
					</a>
	            </div>

	            <div class="col-lg-2 text-center text-lg-right">
	                <a href="https://www.facebook.com/elvigilanteagenciadenoticias" target="_blank">
	                	<div class="responsive-img-wrapper2">
	                		<%= image_tag "page4.jpeg", class: "img-fluid" %>
	                	</div>
					</a>
	            </div>

	            <div class="col-lg-2 text-center text-lg-right">
	                <a href="https://www.facebook.com/lacasenoticias" target="_blank">
	                	<div class="responsive-img-wrapper2">
	                		<%= image_tag "page3.jpeg", class: "img-fluid" %>
	                	</div>
	                </a>
	            </div>
	            
	            <div class="col-lg-2 text-center text-lg-right">
	                <a href="https://www.facebook.com/losemprendedoresnoticias" target="_blank">
	                	<div class="responsive-img-wrapper2">
	                		<%= image_tag "page1.jpeg", class: "img-fluid" %>
	                	</div>
	                	
	                </a>
	            </div>
	            
	            <div class="col-lg-2 text-center text-lg-right">
	                <a href="#">
	                	<div class="responsive-img-wrapper2">
	                		<%= image_tag "page2.jpeg", class: "img-fluid" %>
	                	</div>
	                </a>
	            </div>
	            
	            
	            
	            
	            

			</div>
		</div>
	</div>
</div>

            