<!-- News With Sidebar Start -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- News Detail Start -->
                <div class="position-relative mb-3">
                    
                    <%= image_tag @article.main_image, class: "img-fluid w-100", style: "object-fit: cover;" if @article.main_image.attached? %>
                    <div class="bg-white border border-top-0 p-4">
                        <div class="mb-3">
                            <%= link_to @article.category.name, category_path(@article.category), class: "badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" %>
                            <a class="text-body" href=""><%= @article.created_at.strftime("%d %b, %Y") %></a>
                        </div>
                        <h1 class="mb-3 text-secondary text-uppercase font-weight-bold"><%= @article.title %></h1>
                            <% @article.content.body.attachments.each do |attachment| %>
                              <% if attachment.image? %>
                                <%= image_tag url_for(attachment) %>
                              <% end %>
                            <% end %>
                        	<%= @article.content %>                        
                    </div>
                    <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle mr-2" src="<%= asset_path('user.jpg') %>" width="25" height="25" alt="">

                            <span><%= @article.author %></span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="ml-3"><i class="far fa-eye mr-2"></i><%= @article.visits %></span>
                        </div>
                    </div>
                </div>
                <!-- News Detail End -->

            </div>

            <div class="col-lg-4">
                <!-- Popular News Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Más noticias</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                    	<% @other_articles.each do |article| %>
                    		<div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">

                    		    <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                    		        <div class="mb-2">
                    		            
                                        <%= link_to article.category.name, category_path(article.category), class: "badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" %>
                    		            <a class="text-body" href=""><small><%= article.created_at.strftime("%d %b, %Y") %></small></a>
                    		        </div>
                    		        <%= link_to article.title, article_path(article), class: "h6 m-0 text-secondary text-uppercase font-weight-bold" %>
                    		    </div>
                    		</div>
                    	<% end %>
                    </div>
                </div>
                <!-- Popular News End -->

                

                <!-- Tags Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Etiquetas</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <div class="d-flex flex-wrap m-n1">
                        	<% @categories.each do |category| %>
                        		<%= link_to category.name, "#", class: "btn btn-sm btn-outline-secondary m-1" %>
                        	<% end %>
                        </div>
                    </div>
                </div>
                <!-- Tags End -->
            </div>
        </div>
    </div>
</div>
<!-- News With Sidebar End -->
