<!-- Topbar Start -->
<div class="container-fluid d-none d-lg-block">
    <div class="row align-items-center bg-dark px-lg-5">
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-sm bg-dark p-0">
                <ul class="navbar-nav ml-n2">
                    <li class="nav-item border-right border-secondary">
                        <a class="nav-link text-body small" href="#"><%= Date.today.strftime("%d %b, %Y") %></a>
                    </li>
                    <li class="nav-item border-right border-secondary">
                        <a class="nav-link text-body small" href="#">Publicitar</a>
                    </li>
                    <li class="nav-item border-right border-secondary">
                        <a class="nav-link text-body small" href="#">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-body small" href="#">Iniciar sesión</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 text-right d-none d-md-block">
            <nav class="navbar navbar-expand-sm bg-dark p-0">
                <ul class="navbar-nav ml-auto mr-n2">
                    <li class="nav-item">
                        <a class="nav-link text-body" href="#"><small class="fab fa-twitter"></small></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-body" href="#"><small class="fab fa-facebook-f"></small></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-body" href="#"><small class="fab fa-linkedin-in"></small></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-body" href="#"><small class="fab fa-instagram"></small></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-body" href="#"><small class="fab fa-google-plus-g"></small></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-body" href="#"><small class="fab fa-youtube"></small></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    
    <div class="row align-items-center bg-white py-3 px-lg-5">
        <div class="col-lg-1 text-center text-lg-right">
            <a href="/"><%= image_tag "logo-negro.jpeg", class: "img-fluid" %>
            </a>
        </div>
        <div class="col-lg-3" style="font-weight: bold; color: black; font-size: 15px;">
            SOLO LO MÁS IMPORTANTE
        </div>
        <div class="col-lg-2 text-center text-lg-right" style="font-size: 15px; font-weight: bold;">
            Más noticias en:
        </div>
        <div class="col-lg-1 text-center text-lg-right">
            <a href="#"><%= image_tag "page1.jpeg", class: "img-fluid rounded-circle", style: "width: 60px;" %>
            </a>
        </div>
        <div class="col-lg-1 text-center text-lg-right">
            <a href="#"><%= image_tag "page2.jpeg", class: "img-fluid rounded-circle", style: "width: 60px;" %></a>
        </div>
        <div class="col-lg-1 text-center text-lg-right">
            <a href="#"><%= image_tag "page3.jpeg", class: "img-fluid rounded-circle", style: "width: 60px;" %></a>
        </div>
        <div class="col-lg-1 text-center text-lg-right">
            <a href="#"><%= image_tag "page4.jpeg", class: "img-fluid rounded-circle", style: "width: 60px;" %></a>
        </div>
        <div class="col-lg-1 text-center text-lg-right">
            <a href="#"><%= image_tag "page5.jpeg", class: "img-fluid rounded-circle", style: "width: 60px;" %></a>
        </div>
        <div class="col-lg-1 text-center">
            <div class="row">
                <div class="col-12 text-left extra-info" style="font-size: 8px; font-weight: bold;">
                    Temperatura: 30c
                </div>
                <div class="col-12 text-left extra-info" style="font-size: 8px; font-weight: bold;">
                    Dólar Blue: Bs. 11.5
                </div>
            </div>
        </div>
    </div>
    

</div>
<!-- Topbar End -->