<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "MC Noticias" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%# <link rel="icon" href="favicon.ico"> %>
    

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "https://code.jquery.com/jquery-3.6.0.min.js", defer: true %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "trix", crossorigin: "anonymous" %>
    <%= javascript_include_tag "trix", crossorigin: "anonymous" %>
    <%= javascript_include_tag "actiontext" %>
  </head>

  <body>
    <!-- Admin navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to "MC Administrador", "/admin", class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav mr-auto py-0">
            <%= button_to "Salir", session_path, method: :delete, class: "btn btn-primary" if authenticated? %>
        </div>
      </nav>
      <!-- End of admin navbar -->
    <br>
    <div class="container">
      <% flash.each do |type, message| %>
        <div data-controller="flash" class="alert alert-<%= type == "success" ? "success" : "danger" %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>  
    </div>
  </body>
</html>
